---
title: Credits
description: Viktiga bidragande och utvecklare bakom Luanti-projektet
layout: default
redirect_from:
- /credits.html
- /contributors/
---

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10 is-9-desktop is-8-widescreen is-7-fullhd content">

        <h1>Credits</h1>

        <h2>Kärnteamet</h2>
        <p>
          Kärnteamet består av bidragande med särskilda privilegier och
          ansvar.
        </p>
        <p>
          Kärnutvecklare bestämmer vad som kan läggas till i Luanti genom att rösta för
          och emot pull-förfrågningar. De har också åtkomst till Luanti-teamets
          repositorier på GitHub.
          <a href="https://docs.luanti.org/for-engine-devs/organization/">Läs mer.</a>
        </p>

        <h3>Aktiva kärnutvecklare</h3>
        {% include credits_list.html people=site.data.credits.core_developers %}

        <h3>Aktiva kärnteammedlemmar</h3>
        {% include credits_list.html people=site.data.credits.core_team %}

        <h3>Tidigare kärnutvecklare</h3>
        {% include credits_list.html people=site.data.credits.previous_core_developers %}

        <hr>
        <h2>Bidragande</h2>
        <p>
          Also see the complete lists of
          <a href="https://github.com/luanti-org/luanti/graphs/contributors">Luanti</a> and
          <a href="https://github.com/luanti-org/minetest_game/graphs/contributors">Minetest Game</a>
          contributors.
        </p>

        <h3>Aktiva</h3>
        {% include credits_list.html people=site.data.credits.contributors %}

        <h3>Tidigare</h3>
        {% include credits_list.html people=site.data.credits.previous_contributors %}

        <p>
          Vill du <a href="{{ '/get-involved/#contribute' | relative_url }}">bidra</a>?
        </p>

      </div>
    </div>
  </div>
</section>
