<footer class="footer">
  <div class="container">
    <div class="columns is-multiline">

      <div class="column is-6-mobile">
        <h5 class="footer-title">Luanti</h5>
        <ul class="list-unstyled">
          <li><a href="{{ '/downloads/' | relative_url }}">Nerladdningar</a></li>
          <li><a href="https://blog.minetest.net/">Blogg</a></li>
          <li><a href="https://www.minetest.net">Credits</a></li>
          <li><a href="/press/">Press Kit / Posters</a></li>
        </ul>
      </div>

      <div class="column is-6-mobile">
        <h5 class="footer-title">Innehåll</h5>
        <ul class="list-unstyled">
          <li><a href="https://content.minetest.net">ContentDB</a></li>
          <li><a href="https://content.minetest.net/packages/?type=game">Spel</a></li>
          <li><a href="https://content.minetest.net/packages/?type=mod">Moddar</a></li>
          <li><a href="https://content.minetest.net/packages/?type=txp">Texturpaket</a></li>
        </ul>
      </div>

      <div class="column is-6-mobile">
        <h5 class="footer-title">Gemenskap (på engelska)</h5>
        <ul class="list-unstyled">
          {% for item in site.data.community %}
            <li><a href="{{ item.url }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="column is-6-mobile">
        <h5 class="footer-title">Socialt (på engelska)</h5>
        <ul class="list-unstyled">
          {% for social in site.data.social %}
            <li><a href="{{ social.url }}">{{ social.name }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="column is-6-mobile">
        <h5 class="footer-title">Utveckling</h5>
        <ul class="list-unstyled">
          <li><a href="https://github.com/minetest/minetest">GitHub</a></li>
          <li><a href="https://wiki.minetest.net/IRC">#minetest-dev på Libera IRC</a></li>
          <li><a href="https://dev.minetest.net/Main_Page">Utvecklarwiki</a></li>
          <li><a href="https://api.minetest.net">Lua API-referens</a></li>
          <li><a href="{{ '/get-involved/#donate' | relative_url }}">Donera</a></li>
          <li><a href="https://rubenwardy.com/minetest_modding_book/">Luanti Modding Book</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="footer-copyright">
    Domänen luanti.se drivs av <a href="https://voxelmanip.se">ROllerozxa</a> och denna sida är en svensk översättning av
    Luanti:s landningssida.<br>
    <a href="https://github.com/rollerozxa/luanti.se">Källkod för hemsidan</a>
  </div>
</footer>
